/* secondary stylesheet used for divs and classes */


.HnnghMain {
Position:fixed; z-index:-30; 
background-image:url(http://rainbowdashalwaysdressesinstyle.com/Tumblr/flutterflight_spin_by_uxyd-d7h7aqb.png); width:45%; height:75%; background-size:contain;background-repeat:no-repeat;
}

.avvy img{
     position:fixed; z-index:7; left:81%; top:9%; width:192px; 
     transition: width 0.4s;
  -moz-transition: width 0.4s; /* Firefox 4 */
  -webkit-transition: width 0.4s; /* Safari and Chrome */
  -o-transition: width 0.4s; /* Opera */
  -ms-transition: width 0.4s; /* IE9 (maybe) */
 }
 
.avvy:hover {
width:235px;
}

.header {
position:fixed; z-index:1; left:8%; top:1%; width:30%;
margin-top:2px; margin-bottom:5px; text-align:left; padding-right: 12px;
color: #a6ccea;
background-color: #125e98;
box-shadow: inset 1px -1px 4px 2px #73AAD5;
font-family: "enigmaticregular"  sans-serif;
-webkit-transition: -webkit-transform 300ms ease-in-out;
-moz-transition: -moz-transform 300ms ease-in-out;
-o-transition: -o-transform 300ms ease-in-out;
transition: transform 300ms ease-in-out;
  
}
.header h2{
    text-align:center;
}
.header h3{
    text-align:center;
}
.header h2 p{
    text-align:center;
}
.header a:visited {
        color: {color:text}; text-decoration: none;
        }
.header a:hover {
-webkit-transition: color 400ms ease-in-out;
-moz-transition: color 400ms ease-in-out;
-o-transition: color 400ms ease-in-out;
transition: color 400ms ease-in-out;
        color: {color:Link hover}; text-decoration: none;
        }
.postbackground {
width:43%; overflow:hidden;
position:absolute; height:85%; z-index:3; left:8%; top:0%;
float:left;
}
.posts {
position:relative;z-index:3; left:8%; width:97%; margin:5px; 
padding:6px;
background-color: #4D8DBE;
float:left;
transform-origin:center;
}
.posts .images {

    min-width: 100%;
}