/* primary stylesheet used for main functions */


body {
    position:relative;
    z-index: -40;
width:100%;
background: url(http://rainbowdashalwaysdressesinstyle.com/Tumblr/Background.png) fixed;
background-size:cover;
font-family: "enigmaticregular" sans-serif;
font-size: 12px;
letter-spacing:.5px;
color: {color:text};
cursor: url(http://static.tumblr.com/1yhsgvx/DArnchxvt/spe302.png), auto;
}


H1 { color: {color:text}; font-size: 3em; text-align:center; text-shadow: 2px 3px 5px #3073A7; margin:0;
}

H2 {margin-left: 10pt; text-shadow: 2px 3px 5px #3073A7; line-height: 1em;}
p {margin-left: 10pt;  text-shadow: 2px 3px 5px #3073A7; width:97%}
p.permalink {text-align:right; text-shadow: 2px 3px 5px #3073A7; margin:0pt 5pt 0pt 0pt;}
p.description2 {margin-right: 80%; text-shadow: 2px 3px 5px #3073A7; margin-top:-10px; text-align:center;}
li {margin-left: 10pt; text-shadow: 2px 3px 5px #3073A74; text-decoration: underline;}
